[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
virtualenvwrapper = "*"

[packages]
flask = "*"
frozen-flask = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.7"
